
.btn_signout{
    display: inline-block;
    padding: 0.5em 1em;
    margin-top: 10px;
    text-decoration: none;
    background: cornflowerblue;
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none;
}

.btn_signout:hover {
    box-shadow    : none;
    color         : #0808e2;     
    background    : #ffffff;    
}